spring:
  application:
    name: edge-service-zuul

  sleuth:
    sampler:
      probability: 1.0
    propagation-keys: trId
    log:
      slf4j:
        enabled: false

server:
  port: 8080

management:
  endpoints:
    web:
      exposure.include: '*'

zuul:
  routes:
    customers:
      url: http://localhost:8081

logging:
  pattern:
    console: "%clr(%d{yy-MM-dd E HH:mm:ss.SSS}){blue} %clr(%-5p) %clr(${PID}){faint}
    %clr([${spring.zipkin.service.name:${spring.application.name:-}},){magenta}%clr(%X{X-B3-TraceId:-},){red}%clr(%X{hello:-},){yellow}%clr(%X{X-B3-SpanId:-},){cyan}%clr(,%X{X-Span-Export:-}]){blue}%clr([%8.15t]){cyan}
    %clr(%-40.40logger{0}){blue} %clr(:){red} %clr(%m){faint}%n"
